body.barcode-scanner-active {
  visibility: hidden;
  --background: transparent;
  --ion-background-color: transparent;
}

/* Show only the barcode scanner modal */
.barcode-scanner-active {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure overlay is in front of the camera */
}

.qr-scanner-square {
  width: 90vw; /* Width is 90% of viewport width */
  height: 90vw; /* Height is 90% of viewport width */
  max-width: 90vh; /* Maximum width is 90% of viewport height */
  max-height: 90vh; /* Maximum height is 90% of viewport height */
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.7); /* Semi-transparent white border */
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5); /* Semi-transparent black background to create a "hole" */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Required for .scanner-line positioning */
}

.scanner-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #2b7eba;
  animation: scan 2s infinite; /* Animation name and duration */
}

@keyframes scan {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

.scanner-label {
  margin-top: 20px;
  color: white;
  font-size: 18px;
  text-align: center;
}

.barcode-scanner-active ion-fab {
  position: fixed;
  top: 10px;
  width: auto;
  z-index: 1001; /* Ensure buttons are in front of the overlay */
}

.barcode-scanner-active ion-fab-button::part(native) {
  background-color: transparent;
  border-radius: 15px;
  box-shadow: none;
  color: #ffffff;
  font-size: 20;
  border-radius: 50%;
  margin-top: 24px;
}

ion-modal#dialog-modal {
  --height: 40%;
  --width: 90%;
  --height: fit-content;
  --backdrop-opacity: 0.3;
  --border-radius: 25px;
  --box-shadow: none;
}

.btn {
  --border-radius: 10px;
  --box-shadow: none;
  width: 100%;
}
