<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCekYouVV77G6yXocAp6bxDkQPaKH9Dau8</string>
	<key>GCM_SENDER_ID</key>
	<string>502252983581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionicreact.app</string>
	<key>PROJECT_ID</key>
	<string>pushnotificationdemo-27eff</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotificationdemo-27eff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502252983581:ios:45fbe5a67f899f99923df4</string>
</dict>
</plist>